Repository esmeurena/homees-etsy, pull requests merged in 2025-05, with the labels that each got.

#21 Update README.md
  README.md
Labels: documentation, ready for review

#40 fixing gitignores
  .gitignore
  frontend/.gitignore
Labels: quickfix

#42 Added models for shoppingCart, transaction, products, and user models
  backend/app/models/__init__.py
  backend/app/models/favorite.py
  backend/app/models/product.py
  backend/app/models/productImage.py
  backend/app/models/review.py
  backend/app/models/reviewImage.py
  backend/app/models/shoppingCart.py
  backend/app/models/transaction.py
  backend/app/models/user.py
Labels: enhancement, backend, high priority

#43 Added the Product Route Skeleton
  backend/app/api/product_routes.py
Labels: enhancement, backend, high priority, in progress

#46 added timestamp to the models
  backend/app/models/favorite.py
  backend/app/models/productImage.py
  backend/app/models/review.py
  backend/app/models/reviewImage.py
Labels: enhancement, backend, high priority

#48 Adding all our models changes into Staging
  backend/app/models/__init__.py
  backend/app/models/favorite.py
  backend/app/models/product.py
  backend/app/models/productImage.py
  backend/app/models/review.py
  backend/app/models/reviewImage.py
  backend/app/models/shoppingCart.py
  backend/app/models/transaction.py
  backend/app/models/user.py
Labels: enhancement, backend, high priority, in progress, ready for review

#51 Added the Favorites Routes Skeleton
  backend/app/api/favorite_routes.py
Labels: enhancement, backend, high priority

#53 Mk/getallproducts
  .gitignore
  README.md
  backend/Pipfile
  backend/Pipfile.lock
  backend/app/api/product_routes.py
  backend/app/api/review_routes.py
  backend/app/models/__init__.py
  backend/app/models/favorite.py
  backend/app/models/product.py
  backend/app/models/productImage.py
  backend/app/models/review.py
  backend/app/models/reviewImage.py
  backend/app/models/shoppingCart.py
  backend/app/models/transaction.py
  backend/app/models/user.py
  backend/requirements.txt
  frontend/.gitignore
  frontend/src/redux/products.ts
Labels: enhancement, backend, missing frontend

#57 Revert "Mk/getallproducts"
  .gitignore
  README.md
  backend/Pipfile
  backend/Pipfile.lock
  backend/app/api/product_routes.py
  backend/app/api/review_routes.py
  backend/app/models/__init__.py
  backend/app/models/favorite.py
  backend/app/models/product.py
  backend/app/models/productImage.py
  backend/app/models/review.py
  backend/app/models/reviewImage.py
  backend/app/models/shoppingCart.py
  backend/app/models/transaction.py
  backend/app/models/user.py
  backend/requirements.txt
  frontend/.gitignore
  frontend/src/redux/products.ts
Labels: bug, changes needed

#56 Mk/getallproducts
  backend/app/api/product_routes.py
  backend/app/models/favorite.py
  backend/app/models/product.py
  backend/app/models/productImage.py
  backend/app/models/review.py
  backend/app/models/reviewImage.py
  backend/app/models/shoppingCart.py
  backend/app/models/transaction.py
  backend/app/models/user.py
  frontend/src/redux/products.ts
Labels: help wanted, backend, low priority, cleanup

#52 Op/se route skeleton
  backend/.env.example
  backend/app/api/favorite_routes.py
  backend/app/api/productimages_routes.py
  backend/app/api/reviewimages_routes.py
  backend/app/api/shoppingcart_routes.py
  backend/app/api/transaction_routes.py
Labels: enhancement, backend, high priority

#58 fixed models/seeders issues
  Pipfile
  backend/app/models/favorite.py
  backend/app/models/product.py
  backend/app/models/productImage.py
  backend/app/models/review.py
  backend/app/models/reviewImage.py
  backend/app/models/shoppingCart.py
  backend/app/models/transaction.py
  backend/app/models/user.py
  backend/app/seeds/users.py
  backend/instance/dev.db
  backend/migrations/versions/20250513_120049_updating_tables.py
  backend/migrations/versions/20250513_121644_.py
Labels: backend, quickfix, approved

#59 Fixed Migrations Stuff
  backend/migrations/versions/20201120_150602_create_users_table.py
  backend/migrations/versions/20250513_120049_updating_tables.py
  backend/migrations/versions/20250513_121644_.py
Labels: documentation, backend, high priority

#60 Updating Harold/Esme staging branches
  Pipfile
  backend/.env.example
  backend/app/api/favorite_routes.py
  backend/app/api/product_routes.py
  backend/app/api/productimages_routes.py
  backend/app/api/review_routes.py
  backend/app/api/reviewimages_routes.py
  backend/app/api/shoppingcart_routes.py
  backend/app/api/transaction_routes.py
  backend/app/models/favorite.py
  backend/app/models/product.py
  backend/app/models/productImage.py
  backend/app/models/review.py
  backend/app/models/reviewImage.py
  backend/app/models/shoppingCart.py
  backend/app/models/transaction.py
  backend/app/models/user.py
  backend/app/seeds/products.py
  backend/app/seeds/users.py
  backend/instance/dev.db
  backend/migrations/versions/20201120_150602_create_users_table.py
  frontend/src/redux/products.ts
Labels: quickfix, approved

#64 Mk/staging into eu-hp/models/staging
  backend/app/api/product_routes.py
  frontend/src/redux/products.ts
  frontend/src/redux/store.ts
  frontend/src/redux/types/products.d.ts
Labels: cleanup

#65 Em/get all products frontend merged into eu-hp/models/staging
  backend/migrations/versions/20250514_204254_.py
  backend/package-lock.json
  frontend/src/components/AllProducts/AllProducts.css
  frontend/src/components/AllProducts/AllProducts.tsx
  frontend/src/components/AllProducts/ProductCard.css
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/AllProducts/example-images/exampleimage1.png
  frontend/src/components/AllProducts/example-images/exampleimage2.png
  frontend/src/components/AllProducts/example-images/exampleimage3.png
  frontend/src/components/AllProducts/index.ts
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/components/Navigation/OpenModalMenuItem.tsx
  frontend/src/components/Navigation/ProfileButton.css
  frontend/src/components/Navigation/ProfileButton.tsx
  frontend/src/components/Navigation/ShoppingCartButton.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/redux/types/session.d.ts
  frontend/src/router/Layout.tsx
  frontend/src/router/index.tsx
Labels: cleanup

#66 Added all branches changes into staging
  backend/app/__init__.py
  backend/app/api/product_images_routes.py
  backend/app/api/product_routes.py
  backend/app/api/review_images_routes.py
  backend/app/api/shopping_cart_routes.py
  backend/app/models/__init__.py
  backend/app/models/product.py
  backend/app/models/product_image.py
  backend/app/models/review_image.py
  backend/app/models/shopping_cart.py
  backend/app/models/user.py
  backend/app/seeds/__init__.py
  backend/app/seeds/favorites.py
  backend/app/seeds/product_images.py
  backend/app/seeds/products.py
  backend/app/seeds/review_images.py
  backend/app/seeds/reviews.py
  backend/app/seeds/shopping_carts.py
  backend/app/seeds/transactions.py
  backend/app/seeds/users.py
  backend/migrations/versions/20201120_150602_create_users_table.py
  backend/package-lock.json
  frontend/src/components/AllProducts/AllProducts.css
  frontend/src/components/AllProducts/AllProducts.tsx
  frontend/src/components/AllProducts/ProductCard.css
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/AllProducts/example-images/exampleimage1.png
  frontend/src/components/AllProducts/example-images/exampleimage2.png
  frontend/src/components/AllProducts/example-images/exampleimage3.png
  frontend/src/components/AllProducts/index.ts
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/components/Navigation/OpenModalMenuItem.tsx
  frontend/src/components/Navigation/ProfileButton.css
  frontend/src/components/Navigation/ProfileButton.tsx
  frontend/src/components/Navigation/ShoppingCartButton.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/redux/products.ts
  frontend/src/redux/store.ts
  frontend/src/redux/types/products.d.ts
  frontend/src/redux/types/session.d.ts
  frontend/src/router/Layout.tsx
  frontend/src/router/index.tsx
Labels: high priority, cleanup

#67 fixed more seeder/model issues
  backend/app/__init__.py
  backend/app/api/favorite_routes.py
  backend/app/api/product_image_routes.py
  backend/app/api/product_routes.py
  backend/app/api/review_image_routes.py
  backend/app/api/review_images_routes.py
  backend/app/api/shopping_cart_routes.py
  backend/app/models/product.py
  backend/app/models/product_image.py
  backend/app/models/review.py
  backend/app/models/review_image.py
  backend/app/models/shopping_cart.py
  backend/app/seeds/__init__.py
  backend/app/seeds/shopping_carts.py
  backend/app/seeds/users.py
  backend/migrations/versions/20201120_150602_create_users_table.py
Labels: bug, high priority, quickfix

#68 Made edits to migration file and minor fix
  backend/app/__init__.py
  backend/app/seeds/__init__.py
  backend/app/seeds/product_images.py
  backend/migrations/versions/20201120_150602_create_users_table.py
Labels: backend, high priority, quickfix

#70 Added Get Single Route, and Some React Components
  backend/app/api/product_routes.py
  frontend/src/components/GetSingleProduct/GetSingleProduct.css
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/GetSingleProduct/index.ts
Labels: backend, frontend, high priority, in progress

#71 getting up to date with staging
  backend/app/__init__.py
  backend/app/api/favorite_routes.py
  backend/app/api/product_image_routes.py
  backend/app/api/product_routes.py
  backend/app/api/review_image_routes.py
  backend/app/api/review_images_routes.py
  backend/app/api/shopping_cart_routes.py
  backend/app/models/product.py
  backend/app/models/product_image.py
  backend/app/models/review.py
  backend/app/models/review_image.py
  backend/app/models/shopping_cart.py
  backend/app/seeds/__init__.py
  backend/app/seeds/product_images.py
  backend/app/seeds/shopping_carts.py
  backend/app/seeds/users.py
  backend/migrations/versions/20201120_150602_create_users_table.py
Labels: low priority, missing frontend

#74 Hp/routes/createaproduct
  backend/app/api/product_routes.py
Labels: enhancement, backend, high priority

#73 Mk/backend/deleteaproduct
  backend/app/__init__.py
  backend/app/api/favorite_routes.py
  backend/app/api/product_image_routes.py
  backend/app/api/product_routes.py
  backend/app/api/review_image_routes.py
  backend/app/api/reviewimages_routes.py
  backend/app/api/shopping_cart_routes.py
  backend/app/models/__init__.py
  backend/app/models/product.py
  backend/app/models/product_image.py
  backend/app/models/review.py
  backend/app/models/review_image.py
  backend/app/models/shopping_cart.py
  backend/app/models/user.py
  backend/app/seeds/__init__.py
  backend/app/seeds/favorites.py
  backend/app/seeds/product_images.py
  backend/app/seeds/products.py
  backend/app/seeds/review_images.py
  backend/app/seeds/reviews.py
  backend/app/seeds/shopping_carts.py
  backend/app/seeds/transactions.py
  backend/app/seeds/users.py
  backend/migrations/versions/20201120_150602_create_users_table.py
  backend/package-lock.json
  frontend/Pipfile
  frontend/src/components/AllProducts/AllProducts.css
  frontend/src/components/AllProducts/AllProducts.tsx
  frontend/src/components/AllProducts/ProductCard.css
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/AllProducts/example-images/exampleimage1.png
  frontend/src/components/AllProducts/example-images/exampleimage2.png
  frontend/src/components/AllProducts/example-images/exampleimage3.png
  frontend/src/components/AllProducts/index.ts
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/components/Navigation/OpenModalMenuItem.tsx
  frontend/src/components/Navigation/ProfileButton.css
  frontend/src/components/Navigation/ProfileButton.tsx
  frontend/src/components/Navigation/ShoppingCartButton.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/redux/products.ts
  frontend/src/redux/types/session.d.ts
  frontend/src/router/Layout.tsx
  frontend/src/router/index.tsx
Labels: backend, ready for review

#75 Eu hp/models/staging
  backend/app/api/product_routes.py
Labels: enhancement, backend, high priority

#77 fixed syntax errors, added csrf token
  backend/app/api/product_routes.py
Labels: enhancement, backend, high priority

#79 Op/singleproductroute
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/router/index.tsx
Labels: frontend, quickfix, missing frontend

#81 Fixed errors on create a product and added a product form file
  backend/app/api/product_routes.py
  backend/app/forms/__init__.py
  backend/app/forms/create_edit_form.py
Labels: enhancement, backend, high priority

#80 Op/se get single product
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/router/index.tsx
Labels: frontend, high priority, missing frontend

#83 minor fix to seeders
  backend/app/seeds/products.py
Labels: quickfix

#84 Fixed Sign Up form
  backend/app/api/auth_routes.py
  backend/app/forms/signup_form.py
  frontend/src/components/SignupFormModal/SignupFormModal.tsx
  frontend/src/components/SignupFormPage/SignupFormPage.tsx
  frontend/src/redux/types/session.d.ts
Labels: full-stack, ready for review, majorfix

#85 added frontend for Create-A-Product route
  backend/app/api/product_routes.py
  backend/app/forms/create_edit_form.py
  backend/app/models/product.py
  frontend/src/components/CreateProductPage/CreateProduct.css
  frontend/src/components/CreateProductPage/CreateProductPage.tsx
  frontend/src/components/CreateProductPage/index.ts
  frontend/src/components/Navigation/ProfileButton.tsx
  frontend/src/components/SignupFormModal/SignupFormModal.tsx
  frontend/src/components/SignupFormPage/SignupFormPage.tsx
  frontend/src/redux/products.ts
  frontend/src/redux/types/products.d.ts
  frontend/src/router/index.tsx
Labels: enhancement, full-stack, ready for review

#87 "Op/get single product react" into "staging-backup" for testing
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/redux/products.ts
Labels: full-stack, in progress

#88 "hp/frontend/updateaproduct" merged into "staging-backup" for testing
  Pipfile
  backend/app/api/product_routes.py
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/UpdateAProduct/UpdateAProduct.css
  frontend/src/components/UpdateAProduct/UpdateAProduct.tsx
  frontend/src/components/UpdateAProduct/index.ts
  frontend/src/redux/products.ts
  frontend/src/router/index.tsx
Labels: full-stack, in progress

#101 get all reviews frontend done for now
  backend/app/models/review.py
  frontend/src/components/AllReviews/AllReviews.css
  frontend/src/components/AllReviews/AllReviews.tsx
  frontend/src/components/AllReviews/index.ts
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/ReviewCard/ReviewCard.css
  frontend/src/components/ReviewCard/ReviewCard.tsx
  frontend/src/components/ReviewCard/index.ts
  frontend/src/redux/types/products.d.ts
  frontend/src/redux/types/reviews.d.ts
Labels: frontend, approved

#105 GetASingleReview Backend
  backend/app/api/review_routes.py
Labels: enhancement, backend

#108 made changes to update a product
  backend/app/api/product_routes.py
  frontend/src/components/CreateProductPage/CreateProductPage.tsx
  frontend/src/components/UpdateAProduct/UpdateAProduct.tsx
  frontend/src/redux/products.ts
Labels: enhancement, backend, frontend, high priority

#106 Op/delete a review backend route
  backend/app/api/review_routes.py
  frontend/src/components/DeleteReviewModal/DeleteReviewModal.css
  frontend/src/components/DeleteReviewModal/DeleteReviewModal.tsx
  frontend/src/components/DeleteReviewModal/index.ts
  frontend/src/redux/reviews.ts
  frontend/src/redux/types/reviews.d.ts
Labels: enhancement, backend, frontend, high priority, full-stack, in progress

#107 Se/delete product
  .gitignore
  backend/app/api/product_routes.py
  backend/app/models/product.py
  backend/app/models/product_image.py
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/CreateProductPage/CreateProduct.css
  frontend/src/components/CreateProductPage/CreateProductPage.tsx
  frontend/src/components/DeleteProductModal/DeleteProductModal.css
  frontend/src/components/DeleteProductModal/DeleteProductModal.tsx
  frontend/src/components/DeleteProductModal/index.ts
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/OpenModalButton/OpenModalButton.tsx
  frontend/src/redux/products.ts
  frontend/src/redux/types/products.d.ts
  frontend/src/router/index.tsx
Labels: backend

#104 Mk/createareview
  backend/app/api/auth_routes.py
  backend/app/api/product_routes.py
  backend/app/api/review_routes.py
  backend/app/forms/__init__.py
  backend/app/forms/create_edit_form.py
  backend/app/forms/create_edit_review.py
  backend/app/forms/signup_form.py
  backend/app/models/product.py
  backend/app/models/product_image.py
  backend/app/models/review.py
  backend/app/seeds/product_images.py
  backend/app/seeds/products.py
  backend/app/seeds/reviews.py
  backend/app/seeds/users.py
  backend/package-lock.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/images/exampleimage1.png
  frontend/public/images/exampleimage2.png
  frontend/public/images/exampleimage3.png
  frontend/public/images/exampleimage4.png
  frontend/public/images/exampleimage5.png
  frontend/src/components/AllProducts/AllProducts.tsx
  frontend/src/components/AllProducts/ProductCard.css
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.css
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.tsx
  frontend/src/components/AllProducts/ReviewFormModal/index.ts
  frontend/src/components/CreateProductPage/CreateProduct.css
  frontend/src/components/CreateProductPage/CreateProductPage.tsx
  frontend/src/components/CreateProductPage/index.ts
  frontend/src/components/GetSingleProduct/GetSingleProduct.css
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/GetSingleProduct/index.ts
  frontend/src/components/Navigation/ProfileButton.tsx
  frontend/src/components/OpenModalButton/OpenModalButton.tsx
  frontend/src/components/SignupFormModal/SignupFormModal.tsx
  frontend/src/components/SignupFormPage/SignupFormPage.tsx
  frontend/src/components/UpdateAProduct/UpdateAProduct.css
  frontend/src/components/UpdateAProduct/UpdateAProduct.tsx
  frontend/src/components/UpdateAProduct/index.ts
  frontend/src/main.tsx
  frontend/src/redux/products.ts
  frontend/src/redux/reviews.ts
  frontend/src/redux/store.ts
  frontend/src/redux/types/products.d.ts
  frontend/src/redux/types/reviews.d.ts
  frontend/src/redux/types/session.d.ts
  frontend/src/router/index.tsx
  package-lock.json
  package.json
Labels: bug, backend, frontend, in progress

#110 Mk/createareview
  backend/app/api/product_routes.py
  backend/app/api/review_routes.py
  backend/app/forms/__init__.py
  backend/app/forms/create_edit_review.py
  frontend/Pipfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.css
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.tsx
  frontend/src/components/AllProducts/ReviewFormModal/index.ts
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/redux/products.ts
  frontend/src/redux/reviews.ts
  frontend/src/redux/store.ts
  frontend/src/redux/types/reviews.d.ts
Labels: bug, backend, frontend

#112 Minor Fixes
  backend/app/api/product_routes.py
  backend/app/api/review_routes.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
Labels: bug, high priority, in progress

#114 minor Shopping Cart bug solved
  frontend/src/components/ShoppingCartPage/ShoppingCartPage.tsx
  frontend/src/redux/shopping_cart.ts
  frontend/src/redux/types/shopping_cart.d.ts
Labels: frontend, quickfix

#113 Mk/createareview
  backend/app/api/product_routes.py
  backend/app/api/review_routes.py
  backend/app/forms/create_edit_review.py
  frontend/src/components/AllReviews/AllReviews.tsx
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/redux/reviews.ts
Labels: bug, frontend, changes needed

#116 Mk/createareview
  backend/app/api/review_routes.py
  backend/app/forms/create_edit_review.py
  frontend/src/components/AllReviews/AllReviews.tsx
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/redux/reviews.ts
Labels: approved

#117 quick css fix
  frontend/src/components/CreateProductPage/CreateProduct.css
Labels: frontend, quickfix

#118 Hp/backend/updateareview
  backend/app/api/review_routes.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.tsx
  frontend/src/components/AllProducts/UpdateAReview/UpdateReviewModal.css
  frontend/src/components/AllProducts/UpdateAReview/UpdateReviewModal.tsx
  frontend/src/components/AllProducts/UpdateAReview/index.ts
  frontend/src/components/AllReviews/AllReviews.tsx
  frontend/src/components/CreateProductPage/CreateProduct.css
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/ReviewCard/ReviewCard.tsx
  frontend/src/components/ShoppingCartPage/ShoppingCartPage.tsx
  frontend/src/redux/products.ts
  frontend/src/redux/reviews.ts
  frontend/src/redux/shopping_cart.ts
  frontend/src/redux/types/shopping_cart.d.ts
Labels: enhancement, help wanted, full-stack

#120 Staging backup
  backend/app/api/review_routes.py
  frontend/package-lock.json
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.tsx
  frontend/src/components/AllProducts/UpdateAReview/UpdateReviewModal.css
  frontend/src/components/AllProducts/UpdateAReview/UpdateReviewModal.tsx
  frontend/src/components/AllProducts/UpdateAReview/index.ts
  frontend/src/components/AllReviews/AllReviews.tsx
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/ReviewCard/ReviewCard.tsx
  frontend/src/redux/products.ts
  frontend/src/redux/reviews.ts
Labels: full-stack, ready for review

#122 Delete a Review Completed
  backend/app/api/review_routes.py
  backend/app/models/review.py
  frontend/src/components/AllReviews/AllReviews.tsx
  frontend/src/components/DeleteReviewModal/DeleteReviewModal.tsx
  frontend/src/redux/reviews.ts
Labels: high priority, full-stack

#121 Multiple Route Fix: Update-a-Product, Create-a-Product, Images, Single Product image Click
  backend/app/api/product_routes.py
  backend/app/forms/create_edit_form.py
  frontend/src/components/CreateProductPage/CreateProductPage.tsx
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/UpdateAProduct/UpdateAProduct.tsx
  frontend/src/redux/products.ts
  frontend/src/redux/types/products.d.ts
Labels: high priority, full-stack, majorfix

#124 get all reviews fix
  frontend/src/components/AllReviews/AllReviews.tsx
Labels: quickfix

#125 Quick Fix to GetSingleProduct
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
Labels: frontend, high priority, quickfix, in progress

#126 added single Transaction buy now feature
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/GetSingleTransaction/GetSingleTransaction.css
  frontend/src/components/GetSingleTransaction/GetSingleTransaction.tsx
  frontend/src/components/GetSingleTransaction/index.ts
  frontend/src/components/PurchasedPage/PurchasedPage.css
  frontend/src/components/PurchasedPage/PurchasedPage.tsx
  frontend/src/components/PurchasedPage/index.ts
  frontend/src/router/index.tsx
Labels: enhancement, frontend, low priority

#128 fixed shopping cart
  backend/app/api/shopping_cart_routes.py
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/ShoppingCartPage/ShoppingCartPage.tsx
  frontend/src/redux/products.ts
  frontend/src/redux/shopping_cart.ts
  frontend/src/redux/types/shopping_cart.d.ts
Labels: high priority, full-stack, majorfix

#129 seeder update
  backend/app/seeds/products.py
  backend/app/seeds/review_images.py
  backend/app/seeds/reviews.py
  backend/app/seeds/users.py
Labels: backend, quickfix

#142 Get Favorites backend/frontend
  backend/app/api/favorite_routes.py
  frontend/src/components/FavoritesPage/FavoritesPage.css
  frontend/src/components/FavoritesPage/FavoritesPage.tsx
  frontend/src/components/FavoritesPage/index.ts
  frontend/src/redux/favorites.ts
  frontend/src/redux/store.ts
  frontend/src/redux/types/favorites.d.ts
  frontend/src/router/index.tsx
Labels: enhancement, backend, high priority

#147 Mk/reviewbugs
  backend/app/api/review_routes.py
  backend/app/forms/create_edit_review.py
  backend/app/models/product.py
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.tsx
  frontend/src/components/AllProducts/UpdateAReview/UpdateReviewModal.tsx
  frontend/src/components/AllReviews/AllReviews.tsx
  frontend/src/components/DeleteReviewModal/DeleteReviewModal.tsx
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
Labels: backend, frontend

#145 fixed hiding the review button/ after deletion does not redirect to a…
  frontend/src/components/AllReviews/AllReviews.tsx
  frontend/src/components/DeleteReviewModal/DeleteReviewModal.tsx
Labels: frontend, quickfix

#150 Added some Favorites Functionality
  backend/app/api/favorite_routes.py
  frontend/src/components/GetSingleProduct/GetSingleProduct.css
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/redux/favorites.ts
Labels: bug, frontend, high priority

#151 favorites minor fix
  backend/app/api/favorite_routes.py
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/FavoritesPage/FavoritesPage.tsx
  frontend/src/redux/favorites.ts
  frontend/src/redux/types/favorites.d.ts
  frontend/src/router/index.tsx
Labels: quickfix, full-stack

#152 Footer link added
  frontend/src/components/FooterLinks/FooterBottomBar.css
  frontend/src/components/FooterLinks/FooterBottomBar.tsx
  frontend/src/components/FooterLinks/FooterLinks.css
  frontend/src/components/FooterLinks/FooterLinks.tsx
  frontend/src/components/FooterLinks/index.ts
  frontend/src/router/Layout.tsx
  frontend/src/router/index.tsx
Labels: enhancement, frontend, high priority, ready for review

#157 Mk/stars
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.tsx
  frontend/src/components/AllProducts/UpdateAReview/UpdateReviewModal.tsx
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/ReviewCard/ReviewCard.css
  frontend/src/components/ReviewCard/ReviewCard.tsx
Labels: enhancement

#159 changed the hardcoded hearts/implement a little css
  frontend/src/components/AllProducts/ProductCard.css
  frontend/src/components/AllProducts/ProductCard.tsx
Labels: quickfix

#164 setting elliot's changes into staging
  frontend/index.html
  frontend/public/favicon.ico
  frontend/public/images/heart.svg
  frontend/public/images/profile.svg
  frontend/public/images/shopping-cart.svg
  frontend/src/components/AllProducts/ProductCard.css
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/CreateProductPage/CreateProduct.css
  frontend/src/components/CreateProductPage/CreateProductPage.tsx
  frontend/src/components/FooterLinks/FooterLinks.css
  frontend/src/components/GetSingleProduct/GetSingleProduct.css
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/GetSingleTransaction/GetSingleTransaction.tsx
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/components/Navigation/ProfileButton.css
  frontend/src/components/Navigation/ProfileButton.tsx
  frontend/src/components/UpdateAProduct/UpdateAProduct.css
  frontend/src/components/UpdateAProduct/UpdateAProduct.tsx
  frontend/src/router/Layout.tsx
Labels: quickfix, approved

#162 removed the social icon links
  frontend/src/components/FooterLinks/FooterBottomBar.tsx
  frontend/src/components/FooterLinks/FooterLinks.tsx
Labels: frontend, high priority, ready for review

#161 minor favorites fix
  backend/app/api/favorite_routes.py
  backend/app/models/favorite.py
  frontend/src/components/FavoritesPage/FavoritesPage.tsx
  frontend/src/redux/types/favorites.d.ts
Labels: quickfix

#165 fixed review modal sizing, fixed delete favorite frontend
  backend/app/api/favorite_routes.py
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.css
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.tsx
  frontend/src/components/FavoritesPage/FavoritesPage.tsx
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/redux/favorites.ts
Labels: quickfix, full-stack

#166 Mk/favorites
  backend/app/api/favorite_routes.py
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/FavoritesPage/FavoritesPage.tsx
  frontend/src/redux/favorites.ts
  frontend/src/redux/types/favorites.d.ts
Labels: enhancement, backend, frontend

#167 minor shopping cart duplicate issue fixed
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
Labels: frontend, quickfix

#171 added rounded edges to prod images and shifted some content to the right
  frontend/src/components/AllProducts/ProductCard.css
  frontend/src/components/GetSingleProduct/GetSingleProduct.css
  frontend/src/components/GetSingleTransaction/GetSingleTransaction.css
  frontend/src/components/ReviewCard/ReviewCard.css
Labels: enhancement, frontend

#175 Full features finished, awaiting minor fixes
  backend/app/api/favorite_routes.py
  backend/app/models/favorite.py
  frontend/index.html
  frontend/public/favicon.ico
  frontend/public/images/heart.svg
  frontend/public/images/profile.svg
  frontend/public/images/shopping-cart.svg
  frontend/src/components/AllProducts/ProductCard.css
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.css
  frontend/src/components/AllProducts/ReviewFormModal/ReviewFormModal.tsx
  frontend/src/components/CreateProductPage/CreateProduct.css
  frontend/src/components/CreateProductPage/CreateProductPage.tsx
  frontend/src/components/FavoritesPage/FavoritesPage.tsx
  frontend/src/components/FooterLinks/FooterBottomBar.tsx
  frontend/src/components/FooterLinks/FooterLinks.css
  frontend/src/components/FooterLinks/FooterLinks.tsx
  frontend/src/components/GetSingleProduct/GetSingleProduct.css
  frontend/src/components/GetSingleProduct/GetSingleProduct.tsx
  frontend/src/components/GetSingleTransaction/GetSingleTransaction.tsx
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/components/Navigation/ProfileButton.css
  frontend/src/components/Navigation/ProfileButton.tsx
  frontend/src/components/UpdateAProduct/UpdateAProduct.css
  frontend/src/components/UpdateAProduct/UpdateAProduct.tsx
  frontend/src/redux/favorites.ts
  frontend/src/redux/types/favorites.d.ts
  frontend/src/router/Layout.tsx
Labels: production

#177 setting main up with all feature completed
  backend/app/api/favorite_routes.py
  frontend/src/components/AllProducts/ProductCard.tsx
  frontend/src/components/FavoritesPage/FavoritesPage.tsx
  frontend/src/redux/favorites.ts
  frontend/src/redux/types/favorites.d.ts
Labels: production
